header {
    border:3px solid #00F845;
    background-color:#00F845 ;
    padding: 7px;
    color: #FFFFFF;
}

header h1{
    texti-align: center;
}
    
nav a{
    border-radius: 15px;
    border:5px solid #2A27B4;
    padding: 5px;
    background-color:#00F845;
    padding: 7px;
    color: #8A2BE2;
    margin:20px
}

